# Folders

**/data
**/etc
**/target
**/tmp*
**/log*

# Temp Files

**.swp
**.swo
**.un~

# Packages

**.war
**.ear
**.jar
**.bin

# Packages

**.war
**.ear
**.jar

# Eclipse Settings

**.classpath
**.project
**.settings
**/eclipse-classes/

# Python cache files.
**/*.pyc
**/__pycache__/

# OS related

**.DS_Store

*.log
*.out
/target/
